<!--The content below is only a placeholder and can be replaced.-->

<div class="ui-g-12 ui-lg-4 ui-lg-offset-4 ui-md-offset-3 ui-md-6 ui-sm-12">
  <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x150"></a>
  <p-panel header="Login">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="Username">
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
          <input type="password" pInputText placeholder="******">
        </div>
      </div>
      <div class="ui-g-12">
        <p-button label="Click"></p-button>
      </div>
    </div>


  </p-panel>
</div>
<!--
<p-chart type="bar" [data]="data"></p-chart>
-->
