<p-panel header="Portafolios" class="ui-g-12 ui-md-10">

  <div class="ui-g">
    <p-card title="Advanced Card" subtitle="Subtitle" class="ui-lg-4" styleClass="ui-card-shadow">

      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam
        deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
      <p-footer>
        <button pButton type="button" label="Abrir" icon="pi pi-check" style="margin-right: .25em"
                routerLink="/dashboard/portfolios/1"></button>
      </p-footer>
    </p-card>
    <p-card title="Advanced Card" subtitle="Subtitle" class=" ui-lg-4" styleClass="ui-card-shadow">
      <!--   <p-header>
           <img src="Card" src="assets/showcase/images/usercard.png">
         </p-header> -->
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam
        deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
      <p-footer>
        <button pButton type="button" label="Abrir" icon="pi pi-check" style="margin-right: .25em"
                routerLink="/dashboard/portfolios/2"></button>
      </p-footer>
    </p-card>
    <p-card title="Advanced Card" subtitle="Subtitle" class=" ui-lg-4" styleClass="ui-card-shadow">
      <!--   <p-header>
           <img src="Card" src="assets/showcase/images/usercard.png">
         </p-header> -->
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam
        deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
      <p-footer>
        <button pButton type="button" label="Abrir" icon="pi pi-check" style="margin-right: .25em"
                routerLink="/dashboard/portfolios/3"></button>
      </p-footer>
    </p-card>
  </div>
  <p-footer>
    <p-button icon="fa fa-plus" class="ui-button ui-button-success" label="Agregar nuevo portafolio"></p-button>
  </p-footer>
</p-panel>
